doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="assets/css/uikit.min.css")
        link(rel="stylesheet" href="assets/css/all.min.css")
        link(rel="stylesheet" href="assets/font/sen.css")
        link(rel="stylesheet" href="assets/css/styles.css")
        title Login

    body
        .main-wrapper
            .uk-grid.uk-grid-collapse
                .uk-width-2-3.bg-img-wrapper
                    h2 great deals. <br> unbeatable values
                    p buying and selling platform for all.
                    .uk-grid
                        button.uk-button.uk-button-default about kyosk
                        button.uk-button.uk-button-default sell on kyosk
                .uk-width-1-3.form-wrapper
                    p login
                    .uk-grid
                        .uk-width-1-2
                            button.uk-button.uk-button-default
                                i.fab.fa-facebook
                                span log in with facebook
                        .uk-width-1-2
                            button.uk-button.uk-button-default
                                i.fab.fa-facebook
                                span log in with google
                    hr.uk-divider-icon
                    form
                        .uk-margin
                            label.uk-form-label(for="email-mobile") Mobile Phone or Email Address
                            input.uk-input#email-mobile(type="text" placeholder="email/mobile")
                        .uk-margin
                            label.uk-form-label() Password
                            input.uk-input(type="password")
                        .forgot-password-wrapper
                            a.uk-link-text forgot password?
                        .uk-margin
                            button.uk-button.uk-button-primary login
                    .uk-margin.new-user-wrapper
                        p new user? sign up
                            a.uk-link-text here
                    .uk-grid.uk-grid-small
                        .uk-width-1-4
                            a.uk-link-text contact
                        .uk-width-1-4
                            a.uk-link-text faq
                        .uk-width-1-4
                            a.uk-link-text privacy policy
                        .uk-width-1-4
                            a.uk-link-text terms & conditions
        script(src="assets/js/uikit.min.js")
