doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="assets/css/uikit.min.css")
        link(rel="stylesheet" href="assets/css/all.min.css")
        link(rel="stylesheet" href="assets/font/sen.css")
        link(rel="stylesheet" href="assets/css/styles.css")
        title Login

    body
        .main-wrapper
            h2 Almost before we knew it, we had left the ground.
        script(src="assets/js/uikit.min.js")
