doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="assets/css/uikit.min.css")
        link(rel="stylesheet" href="assets/css/all.min.css")
        link(rel="stylesheet" href="assets/font/sen.css")
        link(rel="stylesheet" href="assets/css/styles.css")
        title Login

    body
        .main-wrapper
            .uk-grid.uk-grid-collapse
                .uk-width-3-5.bg-img-wrapper
                    .image-text-wrapper.uk-flex-bottom
                        h2.uk-heading-medium great deals. <br> unbeatable values
                        p.uk-text-lead Buying and selling platform for all.
                        button.uk-button.uk-button-default.uk-button-large.btn-slide.btn-white-f about kyosk
                        button.uk-button.uk-button-default.uk-button-large.uk-margin-left.btn-slide.btn-white-f sell on kyosk
                .uk-width-2-5.form-wrapper
                    h3.form-title.uk-text-bold.uk-heading-small.uk-text-center login
                    .uk-grid.form-title-wrapper.uk-text-center
                        .uk-width-1-2
                            button.uk-button.uk-button-default.btn-slide.btn-orange-f
                                i.fab.fa-facebook.uk-margin-small-right
                                span facebook
                        .uk-width-1-2
                            button.uk-button.uk-button-default.btn-slide.btn-orange-f
                                i.fab.fa-google.uk-margin-small-right
                                span google
                    hr.uk-divider-icon
                    form
                        .uk-margin.form-row
                            label.uk-form-label.uk-text-bold(for="email-mobile") Mobile Phone or Email Address
                            input.uk-input#email-mobile(type="text" placeholder="email/mobile")
                        .uk-margin.form-row
                            label.uk-form-label.uk-text-bold(for="password") Password
                            input.uk-input#password(type="password")
                        .forgot-password-wrapper
                            a.uk-link-text
                                u forgot password?
                        .uk-margin.login-btn-wrapper
                            button.uk-button.btn-slide.btn-dark-orange-f login
                    .uk-margin.new-user-link-wrapper.uk-text-center
                        p Not yet a member? Sign up
                            a.uk-link-text here
                    .uk-grid.uk-grid-small.footer-info.uk-text-center.uk-flex-bottom
                        .uk-width-1-4
                            a.uk-link-text.uk-text-middle contact
                        .uk-width-1-4
                            a.uk-link-text.uk-text-middle FAQ
                        .uk-width-1-4
                            a.uk-link-text.uk-text-middle privacy policy
                        .uk-width-1-4
                            a.uk-link-text.uk-text-middle terms & conditions
        script(src="assets/js/uikit.min.js")
